/**
Global css for VueJS Boilerplate
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap");

html {
  min-height: 100%;
  display: flex;
}
body {
  background-color: #fff;
  font-family: Montserrat;
  display: flex;
  flex: 1;
}

.ftz-12 {
  font-size: 12px;
}

.ftz-14 {
  font-size: 14px;
}

.ftz-17 {
  font-size: 17px;
}

.ftz-20 {
  font-size: 20px;
}

.bold {
  font-weight: 800;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.8rem 1rem;
}
h1,
h2 {
  font-weight: 800;
  font-size: 33px;
  line-height: 46px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  color: #006261;
}

/* colori */
.bianco {
  color: #fff;
}
.petrolio {
  color: #006261;
}
.miele {
  color: #ffd84f;
}
.asfalto {
  color: #333333;
}
.menta {
  color: #33d37f;
}
.salvia {
  color: #40b57b;
}
.zucchero {
  color: #00b5b6;
}
.cenere {
  color: #adadad;
}
.datterino {
  color: #ec0000;
}
.color-petrolio {
  color: #006261;
}

.bk-gradient {
  background: linear-gradient(0deg, #00b5b6 0%, #38ef7d 100%);
}

.bk-petrolio {
  background-color: #006261;
}

.bk-salvia {
  background-color: #40b57b;
}

.bk-zucchero {
  background-color: #00b5b6;
}

.bk-datterino {
  background-color: #ec0000;
}

.br-rad-6 {
  border-radius: 6px;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}
